/* Contenedor general */
.container {
  max-width: 500px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  font-family: Arial, sans-serif;
}

/* Título */
.title {
  text-align: center;
  margin-bottom: 20px;
}

/* Input + botón */
.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  
}

.input-box {
  flex: 1;
  padding: 8px;
}

.add-btn {
  padding: 8px 15px;
  cursor: pointer;
}

/* Lista */
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tarea */
.task-item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 8px;
  margin-bottom: 10px;

  border: 1px solid #000000;
  background: #fff;
}

/* Texto de tarea */
.task-text {
  flex: 1;
}

/* Botón eliminar */
.delete-btn {
  background: none;
  color: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 20px;
}
